.top {
    background-color: @dark-blue;
}

.second {
    background-color: @light-blue;
}

.third {
    background-color: @dark-blue;
}

header {
    display: flex;
    justify-content: center;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    background-color: @light-blue;
    h1 {
        margin-top: 100px;
        span {
            background-color: @dark-blue;
            color: @light-blue;
            border-radius: 30px;
            padding: 0px 10px;
        }
    }
    .self-pic {
        height: 250px;
        width: auto;
        border-radius: 50%;
        margin: 10px 2%;
    }
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: @light-blue;
    background-color: @dark-blue;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 130px;

    h2 {
        width: 800px;
        margin: auto;
        padding: 20px 0 10px;
    }

    p {
        width: 800px;
        margin: auto;
        padding: 0 2% 20px 2%;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    background-color: @light-blue;

    .buttons {
        display: flex;
        flex-direction: row;
    }

    h2 {
        padding: 20px 0;
        color: @dark-blue;
        font-size: 3rem;
    }

    img {
        height: 50px;
        width: auto;
        margin: 0 30px;
        padding-bottom: 20px;

    }


}