.top {
    background-color: @dark-blue;
}

.second {
    background-color: @light-blue;
}

.third {
    background-color: @dark-blue;
}

.fourth {
    background-color: @light-blue;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
}

header {
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: @light-blue;
    margin-left: 2%;
    h1 {
        margin-top: 100px;
        span {
            background-color: @dark-blue;
            color: @light-blue;
            border-radius: 10px;
            padding: 0px 10px;
        }
    }
    .self-pic {
        height: 250px;
        width: auto;
        border-radius: 50%;
        margin: 10px 2%;
        // animation-name: spin;
        // animation-duration: 5s;
        // animation-iteration-count: infinite;
        // animation-timing-function: linear;
    }
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: @light-blue;
    background-color: @dark-blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2%;

    h2 {
        width: 800px;
        margin: auto;
        padding: 20px 0 10px;
    }

    p {
        width: 800px;
        margin: auto;
        padding: 0 2% 20px 2%;
    }

    ul {
        font-size: 1.6rem;
        width: 800px;
        margin: auto;
        padding-bottom: 15px;
        
        li {
            padding: 5px 0;
        }

        span {
            font-size: 2rem;
        }
    }
}

.social-med {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 2%;
    background-color: @light-blue;

    h2 {
        padding: 20px 0;
        color: @dark-blue;
        font-size: 3rem;
    }

    .buttons {
        display: flex;
        flex-direction: row;

        img {
            height: 50px;
            width: auto;
            margin: 0 30px;
            padding-bottom: 20px;
    
        }

        .hidden{ 
            visibility: hidden;
          }
          .hidden-btn:hover .hidden{
            visibility: visible;
          }
          .hidden-btn:hover .always-shown{
            visibility: hidden;
          }

          .hidden-btn {
              position: relative;
              text-align: center;
              
              a {
                  font-size: 1.6rem;
                  position: absolute;
                  top: 15px;
                  left: 25%;
                  color: black;
                  font-weight: bold;
              }
          }
    }
}

.contact {
    background-color: @dark-blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2%;
    color: @light-blue;
    h2 {
        padding-top: 20px;
        width: 800px;
        margin: auto;
    }

    p {
        width: 800px;
        margin: auto;
        padding: 10px 0;
    }
    form {
        width: 800px;
        margin-left: 23%;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
}
